<!DOCTYPE html>
<html>
    <head>
        <title>fih</title>
        <meta property="og:title" content="fih">
        <meta property="og:description" content="fih">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://xangey.dev/fih">
        <meta property="og:image" content="{{ url_for('static', filename='Images/fih.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pics.css') }}">
    </head>
    <body style="background-color: #000">
        <div class="image-container">
            <img src="{{ url_for('static', filename='Images/fih.png') }}" alt="fih" style="height:100vh;width:auto"/>
        </div>
    </body>
</html>
